{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block container %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h2 class="display-7 fw-normal">Delete user confirm page</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <h4>Are you sure you want to delete: "{{ user }}"?</h4>
        <button type="submit" class="btn btn-danger mt-3 rounded"><i class="fa-solid fa-trash-can"></i> Delete Account</button>
    </form>
{% endblock %}
