<div class="container py-3">
    <ul  class="nav">
        <li class="nav-item"><a href="{% url 'homepage' %}" class="nav-link"><i class="fa-solid fa-house"></i> Homepage</a></li>
        <li class="nav-item"><a href="{% url 'cart'  %}" class="nav-link">Cart</a></li>
        <ul class="nav col-md-10 justify-content-end">
            {% if user.is_authenticated %}
                    {% if prod_create %}
                        <li class="nav-item"><a href="{% url 'prod_create' %}" class="nav-link">Add Product</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'cat_create' %}" class="nav-link">Add Category</a></li>
                      {% endif %}
                <li class="nav-item"><a href="{% url 'user' %}" class="nav-link"><i class="fa-solid fa-user"></i> Profile</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                <li class="nav-item"><a href="{% url 'user_deactivate' %}" class="nav-link">Deactivate</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log in</a></li>
            {% endif %}
        </ul>
    </ul>
</div>

